table {
	border: solid black;
	border-style: hidden;
	display: flex;
	justify-content: center;
	padding: 3em;
	font-size: 1.1em;
}
td {
	text-align: center;
	width: 3em;
	height: 2.5em;
	padding-top: 0.8em;
	padding-bottom: 0;
}
img {
	width: 50%;
	display: block;
	margin: auto;
}
.free_space {
	border-style: hidden;
}
.number {
	float: left;
	font-size: 10px;
	padding-top: 1em;
}
.weight {
	float: right;
	font-size: 10px;
	padding-top: 1em;
}
.border_num_up {
	font-size: 10px;
}
.border_num_side {
	font-size: 10px;
	text-align: right;
	padding-right: 1em;
}
.nonmetals {
	background: rgb(126, 101, 126);
	border-style: solid;
}
.alkali_metals {
	background: lightseagreen;
	border-style: solid;
}
.alkaline_earths {
	background: lightgreen;
	border-style: solid;
}
.transition_metals {
	background: salmon;
	border-style: solid;
}
.poor_metals {
	background: lightsalmon;
	border-style: solid;
}
.metalloids {
	background: rgb(243, 243, 168);
	border-style: solid;
}
.halogens {
	background: goldenrod;
	border-style: solid;
}
.noble_gases {
	background: rgb(108, 125, 158);
	border-style: solid;
}
.lanthanides {
	background: rgb(199,121,134);
	border-style: solid;
}
.actinides {
	background: rgb(163, 50, 91);
	border-style: solid;
}